<%= form_for([@task, @milestone]) do |form| %>
  <% if @milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% @milestone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description  %>
    <%= form.text_field :desc %>
  </div>

  <div class="field">
    <%= form.label :dev_end_date %>
    <%= form.text_field :dev_end_date %>
  </div>

  <div class="field">
    <%= form.label :qa_days %>
    <%= form.text_field :qa_days %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
