<% columns = 90 %>

<div style="overflow-y:auto">
<h2>Resources</h2>
<table>
  <tr class="prj_head">
    <th>Resource Name</th>
    <%  columns.times do |offset = 0| %>
      <th><%= (@cal+offset.day).strftime("%A") %>
        <%= (@cal+offset.day).month %> -
        <%= (@cal+offset.day).day %>
      </th>
    <% end %>
  </tr>
  <% @resources.each do |res| %>
  <tr class="prj_row">
    <td class="prj_cell"><%= res.name %></td>
    <% columns.times do |offset = 0|
    color = nil
    text = ""
    resource_used = Assignment.where(resource_id: res.id)
    resource_used.each do |ru|
      if ru.task.is_qa_day(@cal+offset.day)
        text += " #{ru.task.active_milestone(@cal+offset.day)}"
        color = ru.task.color
      end
    end
    %>
    <td class="qa_day_color" bgcolor="<%= color %>"><%= text %></td>
    <% end %>
  </tr>
  <% end %>
  
<tr><td colspan=<%= columns + 1%>>
<h2>Projects</h2></tr>
  <tr class="prj_head">
    <th>Project Title</th>
    <% columns.times do |offset = 0| %>
      <th><%= (@cal+offset.day).strftime("%A") %>
        <%= (@cal+offset.day).month %> -
        <%= (@cal+offset.day).day %>
      </th>
    <% end %>
  </tr>
  <% @projects.each do |proj| %>
  <% if !proj.all_days_past %>
    <tr class="prj_row">
      <td class="prj_cell"><%= proj.name %></td>
      <% columns.times do |offset = 0|
        color = nil
        if proj.is_qa_day(@cal+offset.day)
          color = proj.color
        end
        %>
        <td class="qa_day_color" bgcolor="<%= color %>">
        </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>
</div>
