<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @task.color %>
</p>

<p>
  <strong>Assinged:</strong>
  <%= @assignments.count %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
<hr>

<%= render 'add_milestone', task: @task %>
